body{
    background-image: url("../assets/BGTennis.jfif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Tahoma, fantasy;
}
.menu{
    width: 50%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 1);
    background-color: #A78B71;
    height: 48%;
    border-radius: 30px;
}
h2{
    text-align: center;
    margin-bottom: 0;
}
section {
    margin: 0 auto;
    width: 90%;
    height: 210px;

}
table{
    border-collapse: collapse;
    width: 100%;
    background-color: #3b3b4f;
    color: white;
    height: 60%;
}
th ,td,table{
    border: 2px solid white;
}
img{
    padding-top: 10px;
    width: 30px;
    height: 30px;
}
div{
    height: 370px;
}
.search-clear{
    color: #ffffff;
    background-color: #3b3b4f;
    font-size: 1rem;
    width: 15%;
    border: 1px solid #ffffff;
}
.name-find{
    display: flex;
    margin: 0;
    height: 45px;
}
fieldset{
    display: flex;
    gap: 10px;
    width: 100%;
    border: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    height: 30px;
}
.search-field{
    width: 70%;
}
label{
    margin-top: 2.5px;
    color: black;
    font-size: 18px;
}
.home-button{
    color: #ffffff;
    background-color: #3b3b4f;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
}
.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.page-item {
    margin: 0 1px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #3b3b4f;
    text-decoration: none;
}

.page-link:hover {
    background-color: #3b3b4f;
    color: #ffffff;
    text-decoration: none;
}