body{
    background-image: url("../assets/BGTennis.jfif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Tahoma, fantasy;
}
.menu{
    width: 50%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 1);
    background-color: #A78B71;
    height: 45%;
    border-radius: 30px;
}
h2{
    text-align: center;
    margin-bottom: 0;
}
section {
    margin: 0 auto;
    width: 90%;
    height: 210px;

}
input{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #3b3b4f;
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}
table{
    border-collapse: collapse;
    width: 100%;
    background-color: #3b3b4f;
    color: white;
    height: 60%;
}
th ,td,table{
    border: 2px solid white;
}
img{
    padding-top: 10px;
    width: 30px;
    height: 30px;
}
div{
    height: 370px;
}
.search-clear{
    color: #ffffff;
    background-color: #3b3b4f;
    font-size: 1rem;
    width: 15%;
}
.name-find{
    display: flex;
}
fieldset{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
.search-field{
    width: 70%;
}
label{
    margin-top: 6.5px;
    color: black;
    font-size: 18px;
}
.home{
    color: #ffffff;
    background-color: #3b3b4f;
    font-size: 1rem;
    width: 100%;
    border: none;
    margin-bottom: 10px;
}