<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

        <servlet>
            <servlet-name>indexJSP</servlet-name>
            <jsp-file>/index.jsp</jsp-file>
        </servlet>
        <servlet-mapping>
            <servlet-name>indexJSP</servlet-name>
            <url-pattern>/index-jsp</url-pattern>
        </servlet-mapping>

    <servlet>
        <servlet-name>newMatchJSP</servlet-name>
        <jsp-file>/new-match.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>newMatchJSP</servlet-name>
        <url-pattern>/new-match-jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>scoreMatchJSP</servlet-name>
        <jsp-file>/match-score.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>scoreMatchJSP</servlet-name>
        <url-pattern>/match-score-jsp</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>scoreMatchJSP</servlet-name>-->
<!--        <jsp-file>/match-score.jsp</jsp-file>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>scoreMatchJSP</servlet-name>-->
<!--        <url-pattern>/match-score-jsp</url-pattern>-->
<!--    </servlet-mapping>-->

</web-app>